@model PicassoWeb.Models.PromoBanco

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="row">
    <div class="small-12 columns">
    @Html.LabelFor(model => model.Nombre)
    @Html.EditorFor(model => model.Nombre)
    @Html.ValidationMessageFor(model => model.Nombre)
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
    @Html.LabelFor(model => model.Descripcion)
    @Html.EditorFor(model => model.Descripcion)
    @Html.ValidationMessageFor(model => model.Descripcion)
</div>
</div>
<div class="row">
    <div class="small-12 columns">
    @Html.LabelFor(model => model.Descuento)
</div>
</div>
<div class="row">
    <div class="small-12 columns">
    @Html.EditorFor(model => model.Descuento)
    @Html.ValidationMessageFor(model => model.Descuento)
    @Html.LabelFor(model => model.Cuotas)
</div>
</div>
<div class="row">
    <div class="small-12 columns">
    @Html.EditorFor(model => model.Cuotas)
    @Html.ValidationMessageFor(model => model.Cuotas)
    @Html.LabelFor(model => model.Dias)
</div>
</div>
<div class="row">
    <div class="small-12 columns">
    @Html.EditorFor(model => model.Dias)
    @Html.ValidationMessageFor(model => model.Dias)
</div>
</div>
<div class="row">
    <div class="small-12 columns">
    @Html.LabelFor(model => model.CondicionesLegales)
    @Html.EditorFor(model => model.CondicionesLegales)
    @Html.ValidationMessageFor(model => model.CondicionesLegales)
</div>
</div>
<div class="row">
    <div class="small-12 columns">
    Banco
    @Html.DropDownListFor(model => model.BancoID, ((IEnumerable<PicassoWeb.Models.Banco>)ViewBag.PossibleBanco).Select(option => new SelectListItem {
        Text = Html.DisplayTextFor(_ => option.Nombre).ToString(), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.BancoID)
    }), "Elige...")
    @Html.ValidationMessageFor(model => model.BancoID)
</div>
</div>
