@model IEnumerable<PicassoWeb.Models.PromoBanco>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<h2>Promociones de Entidades Financieras</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Descuento
        </th>
        <th>
            Cuotas
        </th>
        <th>
            Dias
        </th>
        <th>
            CondicionesLegales
        </th>
        <th>
            Banco
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Nombre
        </td>
        <td>
			@item.Descripcion
        </td>
        <td>
			@item.Descuento
        </td>
        <td>
			@item.Cuotas
        </td>
        <td>
			@item.Dias
        </td>
        <td>
			@item.CondicionesLegales
        </td>
        <td>
			@Html.DisplayTextFor(_ => item.Banco).ToString()
        </td>
    </tr>
}

</table>


