@model PicassoWeb.Models.Producto
@* This partial view defines form fields that will appear when creating and editing entities *@
<div class="row">
    <div class="small-12 columns">
        @Html.LabelFor(model => model.descripcion)
        @Html.EditorFor(model => model.descripcion)
        @Html.ValidationMessageFor(model => model.descripcion)
    </div>
</div>
<div class="row">
    <div class="small-12 columns">
        @Html.LabelFor(model => model.imagen)
        @Html.EditorFor(model => model.imagen)
        @Html.ValidationMessageFor(model => model.imagen)
    </div>
</div>

@{
    var db = new PicassoWeb.Models.PicassoWebContext();    
    var atributosProducto = new PicassoWeb.Models.AtributosProducto();
    ViewBag.PossibleProducto = db.Producto;
    ViewBag.PossibleAtributo = db.Atributo;
    if (Model != null) {
        ViewBag.ProductoID = Model.id;
    }
    
    }
@Html.Partial("Atributos", atributosProducto)

