@model PicassoWeb.Models.AtributosProducto
@{
    Layout = null;
}

<div class="row">
    <div class="small-12 columns">
        @{
            var db = new PicassoWeb.Models.PicassoWebContext();
            PicassoWeb.Models.Producto prod = db.Producto.Find(ViewBag.ProductoID);
            var productoID = ViewBag.ProductoID;
        }
        <input type="hidden" value="@productoID" id="modelProductoID"   />
        <table>
            <thead>
                <tr>
                    <th>
                        Atributo
                    </th>
                    <th>
                        Valor
                    </th>
                    <th>
                        
                    </th>
                </tr>
            </thead>
            <tbody id="atribsTbl">
                @{
                    if (prod != null) {
                        int itemIndex = 0;
                        foreach (var item in prod.Atributos) {
                            string nameAtrib = "atribs[" + itemIndex + "].atributoID";
                            string idAtrib = "atribs_" + itemIndex + "__atributoID";
                            string nameProd = "atribs[" + itemIndex + "].productoID";
                            string idProd = "atribs_" + itemIndex + "__productoID";
                            string nameVal = "atribs[" + itemIndex + "].Valor";
                            string idVal = "atribs_" + itemIndex + "__Valor";
                    <tr>
                        <td>
                            <input type="hidden" class="iHidden numberAttID" value="@item.AtributoID" name="@nameAtrib" id="@idAtrib"   />
                            <input class="numberProdID" type="hidden"  value="@item.ProductoID" name="@nameProd" id="@idProd"   />
                            @item.Atributo.Nombre
                        </td>
                        <td>
                            <input class="numberValID" type="hidden"  value="@item.Valor" name="@nameVal" id="@idVal"   />
                            @item.Valor
                        </td>
                        <td>
                            <a href="#" class="tiny button">Borrar</a>
                        </td>
                    </tr>
                            itemIndex++;
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="small-4 columns">
        @Html.LabelFor(model => model.Atributo)
        @Html.DropDownListFor(model => model.AtributoID, ((IEnumerable<PicassoWeb.Models.Atributo>)ViewBag.PossibleAtributo).Select(option => new SelectListItem {
       Text = Html.DisplayTextFor(_ => option.Nombre).ToString(),
       Value = option.Id.ToString(),
       Selected = (Model != null) && (option.Id == Model.AtributoID)
   }), "Elegir")
    </div>
    <div class="small-8 columns">
        @Html.LabelFor(model => model.Valor)
        @Html.TextAreaFor(model => model.Valor)
        <a  class="button postfix" id="agregarButton">Agregar</a>
    </div>
</div>

<script type="text/javascript">


    $('#agregarButton').click(function () {
        //save inputs as variables:
        var itemIndex = $("#atribsTbl input.iHidden").length;
        var Valor = $('#Valor').val();
        var atributo = $('#AtributoID  option:selected').text();
        var atributoID = $('#AtributoID').val();
        var prodID = $('#modelProductoID').val();
        if (Valor != "" && atributo != "Elegir") { //add a new list item for the atributo (and do it with spiffy animation)
            $('#atribsTbl').append('<tr><td><input type="hidden" class="iHidden numberAttID" value="' + atributoID + '" name="atribs[' + itemIndex + '].atributoID" id="atribs_' + itemIndex + '__atributoID"   /><input class="numberProdID" type="hidden" value="' + prodID + '" name="atribs[' + itemIndex + '].productoID" id="atribs_' + itemIndex + '__productoID"   />' + atributo + '</td><td><input class="numberValID" type="hidden" value="' + Valor + '" name="atribs[' + itemIndex + '].Valor" id="atribs_' + itemIndex + '__Valor"   />' + Valor + '</td><td><a href="#" class="tiny button">Borrar</a></td></tr>');
        } else {
            alert('Elegi y cargar el Valor de un atributo.');
        }


    });

    $('table').on('click', 'tr a', function (e) {
        if (confirm('seguro?')) {
            e.preventDefault();
            $(this).parents('tr').remove();
            //renumerar atributoID
            $('.numberAttID').each(function (i) {
                var $this = $(this);
                $this.attr("id", "atribs_" + i + "__atributoID");
                $this.attr("name", "atribs[" + i + "].atributoID");
            });
            //renumerar productoID
            $('.numberProdID').each(function (i) {
                var $this = $(this);
                $this.attr("id", "atribs_" + i + "__productoID");
                $this.attr("name", "atribs[" + i + "].productoID");
            });
            //renumerar Valor
            $('.numberValID').each(function (i) {
                var $this = $(this);
                $this.attr("id", "atribs_" + i + "__Valor");
                $this.attr("name", "atribs[" + i + "].Valor");
            });
        }
    });

</script>
