@model PicassoWeb.Models.Producto

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<h2>Detalles</h2>

<fieldset>
    <legend>Producto</legend>

    <div class="display-label">descripcion</div>
    <div class="display-field">@Model.Nombre</div>

    <div class="display-label">imagen</div>
    <div class="display-field">@Model.Imagen</div>

        @{
        var db = new PicassoWeb.Models.PicassoWebContext();
        }
        @Html.Partial("ListaAtributos", db.AtributosProducto.Where(a => a.ProductoID == 1))
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>


