@model PicassoWeb.Models.Producto

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<h2>Details</h2>

<fieldset>
    <legend>Producto</legend>

    <div class="display-label">descripcion</div>
    <div class="display-field">@Model.descripcion</div>

    <div class="display-label">imagen</div>
    <div class="display-field">@Model.imagen</div>

    <div class="display-label">atributos</div>
        @{
        var db = new PicassoWeb.Models.PicassoWebContext();
        }
        @Html.Partial("ListaAtributos", db.AtributosProducto.Where(a => a.ProductoID == 1))
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


