@model IEnumerable<PicassoWeb.Models.Producto>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            descripcion
        </th>
        <th>
            imagen
        </th>
        <th>
            atributos
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
        <td>
			@item.descripcion
        </td>
        <td>
			@item.imagen
        </td>
        <td>
			@(item.atributos == null ? "None" : item.atributos.Count.ToString())
        </td>
    </tr>
}

</table>


