@model IEnumerable<PicassoWeb.Models.Producto>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>
    Productos</h2>
<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table>
    <tr>
        <th>
        </th>
        <th>
            descripcion
        </th>
        <th>
            imagen
        </th>
        <th>
            atributos
        </th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Editar", "Edit", new { Id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { Id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { Id = item.Id })
            </td>
            <td>
                @item.Nombre
            </td>
            <td width="30%">
                <div class="row">
                    <div class="small-3 center">
                        <a class="th [radius]" href="@item.Imagen">
                            <img src="@item.Imagen" alt="@item.Id" />
                        </a>
                    </div>
                </div>
            </td>
            <td>
                @(item.Atributos == null ? "None" : item.Atributos.Count.ToString())
            </td>
        </tr>
    }
</table>
