@model PicassoWeb.Models.LocalPasswordModel

<h2>Cambiar Password</h2>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
            <div class="row">
        <div class="small-12 columns">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </div>
            </div>
                <div class="row">
        <div class="small-12 columns">
        
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>
            </div>
                    <div class="row">
        <div class="small-12 columns">
        
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
            <input type="submit" value="Change password" class="button postfix" />
            </div>
}
