<header>
        <!-- fpaz:seccion para completar con la estructura y elementos del header -->
        <!-- Header--> 
            <div class="row">
                <div class="large-3 columns left">
                    <ul class="button-group right ">                                               
                        <li><img src="@Url.Content("~/Images/LogoPicasso.png")" alt="Picasso Pinturerias Logo"></li><!-- rsanch: cambio para usar url.content -->
                    </ul>
                </div>

                <!--fpaz: parte de botones de redes sociales -->
                <div class="large-9 columns hide-for-medium hide-for-small">                
                    <ul class="button-group right ">
                        <li><span><a href="https://www.facebook.com/picassopintureria" target="_blank" class="social-network facebook" title="Seguinos en Facebook"></a></span></li>
                        
                        <li><span><a href="#" class="social-network twitter"></a></span></li>
                        
                        <li><span><a href="#" class="social-network gplus"></a></span></li>
                    </ul>
                </div>                              
            </div> 
        <!-- End Header-->

        <!--fpaz: Barra de  Navegacion -->        
            <div class="large-12 columns rigth">
                <div class="main clearfix">
	                <nav id="menu" class="nav">					
		                  <ul>
                            <li >@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li >@Html.ActionLink("La Empresa", "Empresa", "Home")</li>           
                            <li >@Html.ActionLink("Productos", "Index", "Home")</li>  
                            <li >@Html.ActionLink("Sucursales", "Sucursales", "Sucursal")</li>                        
                            <li >@Html.ActionLink("Promociones", "PromocionesDeBancos", "PromoBanco")</li>  
                            <li >@Html.ActionLink("Contacto", "Contacto", "Home")</li>                                             
                          </ul>
	                </nav>
                </div>
            </div>
            <!--Fin barra navegacion -->
</header>
<!-- End Header  -->
