<header>
        <!-- fpaz:seccion para completar con la estructura y elementos del header -->
        <!-- Header--> 
            <div class="row">
                <div class="large-3 columns left">
                <a href="/Home">
                    <img src="@Url.Content("~/Images/LogoPicasso.png")" style="width: 95%; height: 75%" alt="Picasso Pinturerias Logo">
                </a>
                    @*<ul class="button-group right ">               
                        <!-- rsanch: cambio tamaño del logo 75 % por que en firefox se veia muy grande -->                                
                       <li><img src="@Url.Content("~/Images/LogoPicasso.png")" style="width: 95%; height: 75%" alt="Picasso Pinturerias Logo"></li><!-- rsanch: cambio para usar url.content -->                       
                    </ul>*@
                </div>

                <!--fpaz: parte de botones de redes sociales -->
                <div class="large-9 columns hide-for-medium hide-for-small">                
                    <ul class="button-group right ">
                        <li><span><a href="https://www.facebook.com/picassopintureria" target="_blank" class="social-network facebook" title="Seguinos en Facebook"></a></span></li>
                        
                        <li><span><a href="#" class="social-network twitter"></a></span></li>
                        
                        <li><span><a href="#" class="social-network gplus"></a></span></li>
                    </ul>
                </div>                              
                <!--fpaz: parte de botones de redes sociales -->                
                <div class="right ">     
                    <br />                    
                    <h2><span class="lema">LA SOLUCIÓN EN COLORES</span></h2>
                </div>                                              
            </div> 
        <!-- End Header-->

        <!--fpaz: Barra de  Navegacion -->        
            <div class="large-12 columns rigth">
                <div class="main clearfix">
                        <nav id="menu" class="nav">                                        
                            <ul>
                            @*<li >@Html.ActionLink("Inicio", "Index", "Home")</li>*@
                            @*<li >@Html.ActionLink("La Empresa", "Empresa", "Home")</li>           
                            <li >@Html.ActionLink("Divisiones", "Divisiones", "Home")</li>
                            <li >@Html.ActionLink("Productos", "Catalogo", "Producto")</li>  
                            <li >@Html.ActionLink("Sucursales", "Sucursales", "Sucursal")</li>                        
                            <li >@Html.ActionLink("Promociones", "PromocionesDeBancos", "PromoBanco")</li>  
                            <li >@Html.ActionLink("Contacto", "Contacto", "Home")</li>    *@ 
                            @Html.MvcSiteMap().Menu(false)                                        
                          </ul>
                        </nav>
                </div>
            </div>
            <!--Fin barra navegacion -->
</header>
<!-- End Header  -->
