@model PicassoWeb.Models.Sucursal

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<h2>Borrar</h2>

<h3>Seguro que desea borrar este registro?</h3>
<fieldset>
    <legend>Sucursal</legend>

    <div class="display-label">nombre</div>
    <div class="display-field">@Model.Nombre</div>

    <div class="display-label">dir</div>
    <div class="display-field">@Model.Direccion</div>

    <div class="display-label">tel</div>
    <div class="display-field">@Model.Telefono</div>

    <div class="display-label">mail</div>
    <div class="display-field">@Model.Mail</div>

    <div class="display-label">horarios</div>
    <div class="display-field">@Model.Horarios</div>

    <div class="display-label">foto</div>
    <div class="display-field">@Model.Foto</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Borrar" class="button" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}


