@model PicassoWeb.Models.Sucursal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Sucursal</legend>

    <div class="display-label">nombre</div>
    <div class="display-field">@Model.nombre</div>

    <div class="display-label">dir</div>
    <div class="display-field">@Model.dir</div>

    <div class="display-label">tel</div>
    <div class="display-field">@Model.tel</div>

    <div class="display-label">mail</div>
    <div class="display-field">@Model.mail</div>

    <div class="display-label">horarios</div>
    <div class="display-field">@Model.horarios</div>

    <div class="display-label">foto</div>
    <div class="display-field">@Model.foto</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


