@model PicassoWeb.Models.Sucursal

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<h2>Detalles</h2>

<fieldset>
    <legend>Sucursal</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">@Model.Nombre</div>

    <div class="display-label">Direccion</div>
    <div class="display-field">@Model.Direccion</div>

    <div class="display-label">Telefono</div>
    <div class="display-field">@Model.Telefono</div>

    <div class="display-label">Mail</div>
    <div class="display-field">@Model.Mail</div>

    <div class="display-label">Horarios</div>
    <div class="display-field">@Model.Horarios</div>

    <div class="display-label">Foto</div>
    <div class="display-field">@Model.Foto</div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { Id=Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>


