@model IEnumerable<PicassoWeb.Models.Sucursal>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>
    Sucursales</h2>
<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table>
    <tr>
        <th width="20%">
        </th>
        <th width="5%">
            Activo
        </th>
        <th width="20%">
            Nombre
        </th>
        <th width="15%">
            Direccion
        </th>
        <th width="10%">
            Telefono
        </th>
        <th width="10%">
            Mail
        </th>
        <th width="20%">
            Foto
        </th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td width="20%">
                @Html.ActionLink("Editar", "Edit", new { Id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { Id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { Id = item.Id })
            </td>
            <td width="5%">
               @Html.DisplayFor(_ => item.Activo)
            </td>
            <td width="20%">
                @item.Nombre
            </td>
            <td width="15%">
                @item.Direccion
            </td>
            <td width="10%">
                @item.Telefono
            </td>
            <td width="10%">
                @item.Mail
            </td>
            <td width="20%">
                <div class="row">
                    <div class="small-3 center">
                        <a class="th [radius]" href="@item.Foto">
                            <img src="@item.Foto" alt="@item.Id" />
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    }
</table>
