@model IEnumerable<PicassoWeb.Models.Sucursal>

@{
    Layout = "~/Views/Shared/_Foundation.cshtml";
}

@{
    ViewBag.Title = "Sucursales";
}

<!-- Three-up Content Blocks -->
 
<div class="row">
    <h2>Sursales</h2>
    <!-- fpaz: parte para los datos de la sucursal -->
    <div class="large-4 columns">
        
        @foreach (var item in Model) {
            <table>
                <tr>
			        <td>@item.nombre</td>
                </tr>
                <tr>
                    <td><img src="@item.foto" alt="sucursal" /></td>        
                </tr>                        
                <tr>
			        <td>@item.dir</td>
                </tr>
                <tr>
			        <td>@item.tel</td>
                </tr>                
                <tr>
			        <td>@item.horarios</td>
                </tr>
                <tr>            
                    <td>@Html.ActionLink("Details", "Details", new { id = item.id })</td>
                </tr>
            </table>            
        }    
    
    <!-- fpaz: parte para el google maps -->
    </div>
    <div class="large-4 columns">
        <img src="http://placehold.it/400x300&text=[Soy el Google Maps]" />        
    </div>

</div>




