@model PicassoWeb.Models.PromoIntersitio

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<h2>Borrar</h2>

<h3>Seguro que desea borrar este registro?</h3>
<fieldset>
    <legend>PromoIntersitio</legend>

    <div class="display-label">Nombre</div>
    <div class="display-field">@Model.Nombre</div>

    <div class="display-label">Descripcion</div>
    <div class="display-field">@Model.Descripcion</div>

    <div class="display-label">DirImagen</div>
    <div class="display-field">@Model.Imagen</div>

    <div class="display-label">Activo</div>
    <div class="display-field">@Model.Activo</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Borrar" class="button" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}


