@model IEnumerable<PicassoWeb.Models.PromoIntersitio>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>
    Promo Intersitio (Popup)</h2>
<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table>
    <tr>
        <th>
        </th>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Imagen
        </th>
        <th>
            Activo
        </th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "Details", new { id = item.Id }) |
                @Html.ActionLink("Borrar", "Delete", new { id = item.Id })
            </td>
            <td>
                @item.Nombre
            </td>
            <td>
                @item.Descripcion
            </td>
            <td width="30%">
                <div class="row">
                    <div class="small-3 center">
                        <a class="th [radius]" href="@item.Imagen">
                            <img src="@item.Imagen" alt="@item.Id" />
                        </a>
                    </div>
                </div>
            </td>
            <td>
                @Html.DisplayFor(_ => item.Activo)
            </td>
        </tr>
    }
</table>
