@model IEnumerable<PicassoWeb.Models.Banco>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }

<h2>Bancos</h2>

<p>
    @Html.ActionLink("Nuevo", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Nombre
        </th>
        <th>
            Imagen
        </th>
        <th>
            PromosBanco
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Id })
        </td>
        <td>
			@item.Nombre
        </td>
         <td width="30%">
                <div class="row">
                    <div class="small-3 center">
                        <a class="th [radius]" href="@item.Imagen">
                            <img src="@item.Imagen" alt="@item.Id" />
                        </a>
                    </div>
                </div>
            </td>
        <td>
			@(item.PromosBanco == null ? "None" : item.PromosBanco.Count.ToString())
        </td>
    </tr>
}

</table>


