<!-- rsanch: Slider Principal -->
<div class="large-12 columns">
    @Html.Partial("Slider")
</div>

<!-- fpaz: Fila antes de la seccion informativa, simulador y promociones de bancos -->
 <div class="large-12 columns">
    <p></p>
    </div>

<!-- rsanch: Simulador y Promos abajo del slider -->
<div class="row">
                <!-- ifarhat: Seccion informativa en el home -->
                 <div class="large-8 columns left">      
                       @Html.Partial("InfoBoxes")
                 </div>                                  
                <div class="large-4 columns rigth">  
                        @Html.Partial("Simulador")
                </div>
                <div class="large-3 columns right">   
                <!--fpaz: dentro de este div se van a traer los datos del mapa del json de promociones de bancos -->   
                        @Html.Partial("SliderPromosHome")
                </div>             
</div> 

<div class="row">
<div class="large-12 columns">
</div>
</div>

<!-- fpaz:PopUp PromoIntersitio -->
@{
    <!-- fpaz:Esta parte sirve para ver si hay alguna promo de intersitio con el estado activado asi la muestre, sino no hace nada -->
    using (PicassoWeb.Models.PicassoWebContext context = new PicassoWeb.Models.PicassoWebContext()) {
        var promo = (from p in context.PromoIntersitio
                     where p.Activo == true
                     select p).Count();
        if (promo > 0) {            

                        
    <div id="popup" class="reveal-modal">
        <a href="#" class="close-reveal-modal">X</a>
    </div>

                 
    <script type="text/javascript">
        // fpaz: script que me recibe los datos del controlador y los muestra en los tags img y <p> del popup de promociones del intersitio
        $.getJSON('@Url.Content("~/Home/jsonPromoIntersitio")', function (data) {
            $.each(data, function (i, marker) {
                $("#popup").append("<img src='" + marker.imagen + "'\/> </img>")
            });
        });

        $(document).ready(function () {
        // rsanch: cookie para mostrar el popup una sola vez por sesion de browser.
            if (!$.cookie('noMostrarPopupIntersitio')){
                setTimeout(function () {
                    $("#popup").foundation('reveal', 'open');
                    $.cookie('noMostrarPopupIntersitio', true);
                }, 50);
            }
        });
    </script>
    <script src="../../Scripts/popup/popup.js" type="text/javascript"></script>
        }
    }
}

<!-- fpaz: Fin PopUp PromoIntersitio -->
