@model IEnumerable<PicassoWeb.Models.PromoBanco>

<!--fpaz: dentro de este div se van a traer los datos del mapa del json de promociones de bancos --> 
<ul class="bxslider" id="promos" >
@foreach (var item in Model) { string linkDetalles =  "/PromoBanco/DetallesPromo/"+item.Id;
     <li>
        <a href="@linkDetalles" class="ajax-popup-link"> <img src="@item.Banco.Imagen" alt="@item.Banco.Id" /></a>
        <p>@item.Descripcion</p><br/>
     </li>
}
</ul>


<link href="@Url.Content("~/Content/Slider/jquery.bxslider.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/Slider/jquery.bxslider.js")"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            auto: true,
            mode: 'vertical',
            minSlides: 3,
            maxSlides: 3,
            slideMargin: 10,
            captions: true,
            pager:false,
            speed:1200,
            //controls: true,
            //autoControls:true
        });
    });
</script>

<link href="../../Content/popup/magnific-popup.css" rel="stylesheet" type="text/css" />
<script src="../../Scripts/popup/popup.js" type="text/javascript"></script>
<script type="text/javascript">
    $('.ajax-popup-link').magnificPopup({
        type: 'ajax'
    });    
</script>

